# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# PHP / Laravel
/vendor
/node_modules
/storage
/bootstrap/cache
.phpunit.result.cache
.phpactor.json

# Frontend
/public/build
/public/hot

# Auth / Tokens
/auth.json

# IDEs
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Containers / Dev tools
/.docker
Homestead.json
Homestead.yaml

# GitHub
/.github

# Lock files
package-lock.json
